<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Submissions</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto:700');

        #submission_container {
            text-align: center;
        }

        .row div {
            background-color: rgba(0, 0, 0, .7);
            overflow: hidden;
        }

        .row {
            color: white;
            font-family: Roboto, Arial, sans-serif;
            font-size: 10vh;
        }

        .bg-pending {
            background-color: rgba(255, 193, 7, .7) !important;
        }

        .bg-frozen {
            background-color: rgba(11, 109, 255, .7) !important;
        }

        .bg-pending-blink {
            animation: pending-blink-animation 1s alternate infinite ease-in-out;
        }

        .bg-ac {
            background-color: rgba(25, 135, 84, .7) !important;
        }

        .bg-wa {
            background-color: rgba(220, 53, 69, .7) !important;
        }

        .bg-grey {
            background-color: rgba(92, 92, 92, 0.7) !important;
        }

        .text-blink>span {
            animation: text-blink-animation 1s alternate infinite ease-in-out;
        }

        @keyframes text-blink-animation {
            0% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes pending-blink-animation {
            0% {
                background-color: rgba(255, 193, 7, .7);
            }

            100% {
                background-color: rgba(0, 0, 0, .7);
            }
        }
    </style>
    <div class="container-fluid" id="submission_container">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="/static/schedule.js"></script>
    <script src="/static/util.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

    </script>


    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react-flip-move/dist/react-flip-move.js"></script>

    <script type="text/babel">
        const SubmissionRow = React.forwardRef(({ submission, teamBoard, team, problem, isFrozen }, ref) => {
            let teamRanking = '?';
            let num_solved = '?';
            let shortName = '?';
            let status;

            if (teamBoard) {
                teamRanking = teamBoard.rank;
                num_solved = teamBoard.score.num_solved;
            }

            let rgb = null;

            if (problem) {
                shortName = problem.short_name.slice(0, 1);
                rgb = problem.rgb;
            }

            if (submission.judgements && submission.judgements[0]) {
                status = submission.judgements[0].judgement_type_id;
            }

            return (
                <div ref={ref} className="row">
                    <div className="col-1 bg-grey">
                        {teamRanking}
                    </div>
                    <div className="col-7" style={{ textAlign: "leaft" }}>
                        {team ? team.display_name || team.name : `t${submission.team_id}`}
                    </div>
                    <div className="col-1">
                        {num_solved}
                    </div>
                    <div className="col-1" style={rgb ? { borderBottom: `5px solid ${rgb}` } : {}}>
                        {shortName}
                    </div>
                    <div className={`col-2 ${status === "AC" ? "bg-ac" : status ? "bg-wa" : !isFrozen ? "bd-pending bg-pending-blink" : "bg-frozen"}`}>
                        {isFrozen ? "?" : status}
                    </div>
                </div>
            );
        });

        function App() {
            const [scoreboard, setScoreboard] = React.useState(null);
            const [submissions, setSubmissions] = React.useState(null);
            const [teams, setTeams] = React.useState(null);
            const [problems, setProblems] = React.useState(null);
            const [contest, setContest] = React.useState(null);

            function updateScoreboard() {
                $.ajax('/api/scoreboard')
                    .done((data) => {
                        if (data) {
                            setScoreboard(data);
                        }
                        setTimeout(updateScoreboard, 3000);
                    })
                    .fail((err) => {
                        console.log("error on getting scoreboard", err);
                        setTimeout(updateScoreboard, 1000);
                    });
            }

            function updateSubmissions() {
                $.ajax('/api/submissions')
                    .done((data) => {
                        if (data) {
                            setSubmissions(data);
                        }
                        setTimeout(updateSubmissions, 3000);
                    })
                    .fail((err) => {
                        console.log("error on getting submissions", err);
                        setTimeout(updateSubmissions, 1000);
                    });
            }

            function updateContest() {
                $.ajax('/api/contest')
                    .done((data) => {
                        if (data) {
                            setContest(data);
                        }
                        setTimeout(updateContest, 10000);
                    })
                    .fail((err) => {
                        console.log("error on getting contest", err);
                        setTimeout(updateContest, 1000);
                    });
            }

            function getTeams() {
                $.ajax('/api/team')
                    .done((data) => {
                        if (data) {
                            setTeams(data);
                        }
                    })
                    .fail((err) => {
                        console.log("error on getting team", err);
                        setTimeout(getTeams, 1000);
                    });
            }

            function getProblems() {
                $.ajax('/api/problems')
                    .done((data) => {
                        if (data) {
                            setProblems(data);
                        }
                    })
                    .fail((err) => {
                        console.log("error on getting problem", err);
                        setTimeout(getProblems, 1000);
                    });
            }

            React.useEffect(() => {
                getTeams();
                getProblems();
                updateSubmissions();
                updateScoreboard();
                updateContest();
            }, []);

            const packs = React.useMemo(() => {
                return submissions ? submissions.map((submission) => {
                    const team = teams ? teams.find((v) => v.id === submission.team_id) : null;
                    const problem = problems ? problems.find((v) => v.id === submission.problem_id) : null;
                    const teamBoard = scoreboard ? scoreboard.rows.find((v) => v.team_id === submission.team_id) : null;

                    return {
                        submission,
                        team,
                        problem,
                        teamBoard,
                    }
                }).filter((v) => {
                    if (v.team && !v.team.group_ids.includes("3")) {
                        return false;
                    }
                    return true;
                }) : [];
            }, [submissions, scoreboard]);

            const pendingCount = React.useMemo(() => {
                return packs ? packs.filter((v) => v.submission.judgements.length === 0).length : 0;
            }, [packs]);

            const last = React.useMemo(() => {
                const targetNum = 5;
                const arr = packs.filter((v) => v.submission.judgements.length !== 0).slice(0, targetNum);
                while (arr.length < 5) {
                    arr.push(null);
                }
                arr.reverse();
                return arr;
            }, [packs]);

            return <React.Fragment>
                <FlipMove>
                    {last.map((v, i) => {
                        if (v) {
                            let frozen = false;
                            if (contest && contest.state && contest.state.frozen) {
                                frozen = new Date(v.submission.time) > new Date(contest.state.frozen);
                            }

                            return <SubmissionRow key={v.submission.id} isFrozen={frozen} {...v} />
                        }
                        else {
                            // place holder
                            return (
                                <div key={i} className="row invisible">
                                    <div className="col">
                                        PLACE HOLDER
                                    </div>
                                </div>
                            )
                        }
                    })}
                </FlipMove>
                <div className="row">
                    <div className={`col ${pendingCount === 0 ? "bg-success" : "bg-info text-blink"}`}>
                        <span>{pendingCount} pending</span>
                    </div>
                </div>
            </React.Fragment>
        }

        const domContainer = document.querySelector('#submission_container');
        const e = React.createElement;
        ReactDOM.render(e(App), domContainer);
    </script>
</body>

</html>